databases:
  - name: booomboxd
    plan: free
    databaseName: booomboxd
    user: booomboxd

services:
  - type: web
    plan: free
    name: booomboxd
    runtime: python
    buildCommand: './build.sh'
    startCommand: 'python -m gunicorn boomboxd.asgi:application -k uvicorn.workers.UvicornWorker'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: booomboxd
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: CLIENT_ID
        value: ${CLIENT_ID}
      - key : CLIENT_SECRET
        value: ${CLIENT_SECRET}
      - key: REDIRECT_URI
        value: ${REDIRECT_URI}
      - key: DATABASE_USER
        value: ${DATABASE_USER}
      - key: DATABASE_NAME
        value: ${DATABASE_NAME}
