{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <link rel="icon" type="image/x-icon" href="{% static 'logo-img.png' %}">
  <title>BOOMBOXD {%block title%}{%endblock%}</title>
</head>
<body>
<!-- nav -->
<!-- Navbar -->
<nav class="boombox-nav">
  <div class="nav-wrapper container">

    <!-- Logo -->
    <a href="#" class="brand-logo">
      <img src="{%static 'logo-text.png'%}" alt="BOOMBOXD" class="logo-img">
    </a>

    <!-- Left links -->
    <ul class="left nav-links">
  <li class="nav-item"><a href="{%url 'home'%}">Home</a></li>
  {% if user.is_authenticated %}
  <li class="nav-item"><a href="#">Chat</a></li>
  <li><a href="{%url 'Create_mix'%}">Make a mixtape</a></li>
  {%endif%}
</ul>


    <!-- Search -->
    <div class="nav-search">
      <form action="{%url 'search'%}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search albums" name="query" value="{{query}}">
      </form>
    </div>

    <!-- Right icon -->
    <ul class="right">
  {% if user.is_authenticated %}
      <li>
        <a href="{%url 'profile'%}" class="profile-btn">
          <i class="material-icons">person</i>
        </a>
      </li>

      {%else%}
      <li><a href="{%url 'signup'%}">Sign up</a></li>
      <li><a href="{%url 'login'%}">Log in</a></li>
      {%endif%}
    </ul>

  </div>
</nav>

<div class="page-container">

  {% block content %}
  {% endblock content %}
</div>


</body>
</html>
