{% extends "base.html" %}

{% block content %}
{% if object %}
<div class="mixtape-panel">
  <!-- Create Mixtape -->
  <form action="{% url 'mix-update' object.id %}" method="POST" class="mixtape-form">
    {% csrf_token %}
    <label for="id_title">{{object.name}}</label>
    {{ form.title }}

    <button type="submit" class="primary-btn">
      Update title
    </button>
  </form>

</div>
{% else  %}
<div class="mixtape-panel">
  <!-- Create Mixtape -->
  <form action="{% url 'Create_mix' %}" method="POST" class="mixtape-form">
    {% csrf_token %}
    <label for="id_title">Give your mixtape a label!</label>
    {{ form.title }}

    <button type="submit" class="primary-btn">
      Add songs
    </button>
  </form>

</div>
{% endif %}
{% endblock content %}
