{% extends "base.html" %} {% block content %}

<h1>{{user}}</h1>
<form action="{%url 'logout' %}" method="POST">
  {%csrf_token%}
  <button type="submit" class="primary-btn">Log out</button>
</form>
<h1 class="title">My awesome mixtapes</h1>
{% include "mixtapes_list.html" %}
<div class="reviews-section">

  <div class="reviews-header">
    <h1 class="title">My Reviews</h1>



  </div>

  <div class="reviews-grid">
    {% for review in reviews %}
    <div class="review-card">

      <div class="review-top">

        <span class="review-rating">{{ review.rating }}/5</span>
        <a href="{%url 'deleteReview' 'review.album.id' 'profile' review.id %}"
        class="delete-review"
        aria-label="Delete review">
        <i class="material-icons">delete</i>
</a>
      </div>


      <p class="review-content">{{ review.content }}</p>

      <div class="review-tracks">
        <p><strong>Favourite:</strong> {{ review.fav }}</p>
        <p><strong>Honourable:</strong> {{ review.mention }}</p>
        <p><strong>Least:</strong> {{ review.least }}</p>
      </div>

    </div>
    {% endfor %}
  </div>
{% endblock content %}
