{% extends "base.html" %}
{% block content %}
<form action="{%url 'createReview' album_id %}" method="POST">
  {% csrf_token %}

  <label for="{{form.rating.id_for_label}}">Rate the album /5</label>
  {{form.rating}}
  <hr>

  {{form.content}}

  <div class="select-song">
      <label for="{{form.fav.id_for_label}}">Favourite song: </label>
  <select name="{{form.fav.name}}" id="{{form.fav.id_for_label}}">
    {% for track in albumTracks %}
    <option value="{{track.name}}">{{track.name}}</option>
    {% endfor %}
  </select>
  </div>

  <div class="select-song">
      <label for="{{form.mention.id_for_label}}">Honourable mention song</label>
  <select name="{{form.mention.name}}" id="{{form.mention.id_for_label}}">
    {% for track in albumTracks %}
    <option value="{{track.name}}">{{track.name}}</option>
    {% endfor %}
  </select>
  </div>

  <div class="select-song">
      <label for="{{form.least.id_for_label}}">Least Favourite song (even if it's tough to choose)</label>
  <select name="{{form.least.name}}" id="{{form.least.id_for_label}}">
    {% for track in albumTracks %}
    <option value="{{track.name}}">{{track.name}}</option>
    {% endfor %}
  </select>
  </div>

  <input type="submit" value="Add Review">

</form>
{% endblock content %}


