{% extends "base.html" %}
{% block content %}

<div class="review-form-wrapper">
  <form action="{% url 'create-review' album_id %}" method="POST" class="review-form">
    {% csrf_token %}

    <label>Rate the album</label>
    <div class="star-rating">
      {% for i in "54321" %}
      <input type="radio" name="rating" id="star{{ i }}" value="{{ i }}">
      <label for="star{{ i }}">★</label>
      {% endfor %}
    </div>



  <textarea name="content"></textarea>

    <div class="select-song">
      <label for="{{form.fav.id_for_label}}">Favourite song</label>
      <select name="{{form.fav.name}}" id="{{form.fav.id_for_label}}">
        {% for track in albumTracks %}
        <option value="{{track.name}}">{{track.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="select-song">
      <label for="{{form.mention.id_for_label}}">Honourable mention</label>
      <select name="{{form.mention.name}}" id="{{form.mention.id_for_label}}">
        {% for track in albumTracks %}
        <option value="{{track.name}}">{{track.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="select-song">
      <label for="{{form.least.id_for_label}}">Least favourite song</label>
      <select name="{{form.least.name}}" id="{{form.least.id_for_label}}">
        {% for track in albumTracks %}
        <option value="{{track.name}}">{{track.name}}</option>
        {% endfor %}
      </select>
    </div>

    <input type="submit" value="Add Review">
  </form>
</div>

{% endblock content %}
