{% extends "base.html" %}
{% block content %}


  <h1 class="title">{{mixtape.title}}</h1>
<div class="mix-actions">
  <a href="{% url 'mix-add' mixtape.id %}" class="mix-action">Add songs</a>
  <a href="{% url 'mix-update' mixtape.id %}" class="mix-action secondary">Edit title</a>
</div>


<div class="songs-container">
  {% for song in songs %}
  <div class="song-row">
    <img src="{{song.album.images.0.url}}" alt="{{song.album.name}}">

    <div class="song-meta">
      <h1>{{song.name}}</h1>
      <p>{{song.artists.0.name}}</p>
    </div>

    <form action="{%url 'remove_song' mixtape.id %}" method="POST">
      {% csrf_token %}
      <button
  aria-label="remove song"
  value="{{ song.id }}"
  name="song_id"

  type="submit"
  class="remove-btn">−</button>
    </form>
  </div>
  {% endfor %}
</div>



{% endblock content %}
